name: Auth Service CI/CD

on:
  push:
    branches: [ main ]
    paths:
      - backend/auth-service/**
      - .github/workflows/auth-service-ci-cd.yml

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t shabaz7323/auth-service:latest backend/auth-service

      - name: Push Docker image
        run: |
          docker push shabaz7323/auth-service:latest

      - name: Setup kubectl
        uses: azure/setup-kubectl@v4

      - name: Configure kubeconfig
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBECONFIG }}" > $HOME/.kube/config

      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f k8s/auth-deployment.yaml
          kubectl rollout restart deployment auth-service
