
name: CI-CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build Docker Image
        run: docker build -t auth-service .

      - name: Deploy to Kubernetes
        run: echo "kubectl apply -f k8s/"
